/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    /* ======== navbar ======== */
    .header_area .main-menu .navbar{
        padding: 1rem 3rem;
    }
    .header_area .main-menu .nav-item .nav-link{
        font: normal 400 13px/2px var(--roboto);
        text-transform: uppercase;
        margin: 0.8rem 0;
        padding: 0.7rem 0rem;
        color: var(--text-color2);
    }
    /* ======= banner ========== */
    
    .site-main .site-banner .site-title{
        padding-left: 3rem;
        margin-top: 130vw;

    }

    .site-main .site-banner .site-title h1{
        font-size: 2.4rem;
        width: 20rem;

    }

    .site-main .site-banner .site-title h4{
        font-size: 1.1rem;
        width: 20rem;
    }

    .site-main .site-banner .site-title h3{
        font-size: 1.5rem;
    }

    .site-main .site-banner .site-title h3::after{
        width: 30vw;
        margin-left: 6%;
    }

    .site-main .site-banner .banner-image .banner-image-inside{
        display: flex;
        justify-content: center;
        width: 148vw;
        margin-top: -220vw;

    }
    
    .site-main .site-banner .banner-image .banner-image-inside > img{
        width: 190vw;
        margin-left: -0.4rem;
    }

    .button{
        padding: .7rem 1.4rem;
        width: 9rem;
        margin-top: -1rem;
    }

    /* ======== about area ========== */

    .site-main .about-area .about-image{
        display: flex;
        justify-content: center;
    }

    .site-main .about-area .about-image img{
        padding: 0rem 4rem;
        float: none;
    }

    .site-main .about-area .about-title h2{
        margin-top: 3.2rem;

    }

    .site-main .about-area .about-title h2 > span{
        line-height: 3rem;
        letter-spacing: 5px;
        font-size: 35px;
    }

    .site-main .about-area{
        padding: 18rem 0rem 8rem 0rem;
        margin: 0 2rem;
        width: 130vw;
    }

    .site-main .about-area .about-title .paragraph{
        width:120vw;
        padding: 1.7rem 0 2rem;
    }

    .site-main .about-area .about-title .paragraph .para{
        font-size: 1rem;
    }

    /* ======== things i do ========= */

    .site-main .services-area {
        width: 152vw;
    }

    .site-main .services-area .services{
        background: #e6dfffb9;
        padding: 2rem 0;
        margin: 1rem 15%;
        transition: box-shadow 0.2s ease;
        border-radius: 10px;
    }

    .site-main .services-area .services-list{
        padding: 3rem 0;
    }

    .site-main .services-area .services-title{
        padding: 0rem 0rem;
    }
    .site-main .services-area .services-title h1{
        font-size: 35px;
    }
    .site-main .services-area .services-title .services-subtitile{
        font-size: 1rem;
    }

    /* ========== footer========= */

    footer.footer-area{
        width: 152vw;
        padding: 5rem 0 2rem 0;
    }

    footer.footer-area .social h5{
        margin-top: 7rem;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */


@media only screen and (min-device-width : 600px) and (max-device-width : 1024px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    

}