
/* CSS Variables */
@import '../css/partials/_variables.css';

/* import global styling */
@import '../css/partials/_variables.css';

/* Start Navigation */


    .header_area .main-menu{
        transition: 0.6s;
        position: fixed;
        top: 0;
        width: 100%;

    }

    .header_area .main-menu .navbar .navbar-brand{
        padding: 0 0rem 0 0rem;
    }

    .header_area .main-menu .navbar{
        padding: 1rem 20rem;
        background: white;

    }

    .header_area .main-menu .nav-item .nav-link{
        font: normal 400 13px/2px var(--roboto);
        text-transform: uppercase;
        margin: 0.8rem 0;
        padding: 0.7rem 2rem;
        color: var(--text-color2);
    }

    .header_area .main-menu .navbar .navbar-brand{
        font: normal 500 1.2rem/2px var(--roboto);
        color: var(--text-color2);
        font-weight: 900;
        letter-spacing: 2px;
    }

    .header_area .main-menu .navbar-nav .active a{
        color: var(--primary-color2);
    }

    .header_area .main-menu .navbar-nav a:hover{
        color: var(--primary-color2);
    }

/* End Navigation */

/* Start Banner Area */

    .site-main .site-banner {
        margin-top: 6rem;
    }
    .site-main .site-banner .site-title{
        padding-left: 10rem;
    }

    .site-main .site-banner .site-title h3{
        padding-top: 35%;
        padding-bottom: 1%;
        font-size: 1.7rem;
        font-weight: 100;
    }

    .site-main .site-banner .site-title h3::after{
        content: "";
        height: 0.5px;
        width: 15vw;
        background: var(--text-color2);
        display: inline-block;
        margin-left: 3%;
        transform: translateY(-8px);
    }

    .site-main .site-banner .site-title h1{
        font-size: 3.2rem;
        font-weight: 700;

    }
    .site-main .site-banner .site-title h4{
        font-size: 1.1rem;
        margin-top: -0.3rem;
        font-weight: 700;
    }

    .site-main .site-banner .banner-image > img{
        margin-top: -3rem;
        width: 40vw;
    }

    .site-main .site-banner .site-buttons{
        margin-top: 2rem;
    }
    
/* End Banner Area */


/* Start About Area */

    .site-main .about-area{
        padding: 15rem 5rem 8rem 5rem;
    }

    .site-main .about-area .about-title h2 > span{
        display: block;
        font-weight: 900;
        letter-spacing: 6px;
        line-height: 2.9rem;
    }

    .site-main .about-area .about-title .paragraph{
        width:35vw;
        padding: 1.5rem 0 1.5rem 0;
    }

    .site-main .about-area .about-image img{
        width: 27rem;
        float: right;
        padding: 0rem 3rem 0 0;
    }

/* End About Area */

/* Start Services Area */

    .site-main .services-area{
        padding: 7rem 2rem;
    }
    
    .site-main .services-area .services-title{
        padding: 0rem 14rem;
    }
    .site-main .services-area .services-title h1{
        font-size: 35px;
        font-weight: 900;
        letter-spacing: 2px;
    }
    .site-main .services-area .services-title .services-subtitile{
        padding-top: 1rem;
    }

    .site-main .services-area .services-list{
        padding: 3rem 17.5vw;
    }

    .site-main .services-area .services{
        background: #e6dfffb9;
        padding: 2rem 0;
        margin: 1rem 0rem;
        transition: box-shadow 0.2s ease;
        border-radius: 10px;
    }

    .site-main .services-area .services .card-title{
        font-size: 0.85rem;
    }

    .site-main .services-area .services .card-body{
        padding: 0.3rem 2rem 1.4rem;
    }

    .site-main .services-area .services .services-img img{
        width: 3rem;
    }

    .site-main .services-area .services .card-text{
        font-size: 0.8rem;
        padding: 0.5rem 0;
    }

    .site-main .services-area .services:hover{
        box-shadow: var(--box-shadow);
    }

/* End Services Area */

/* Start Footer Area */

    footer.footer-area{
        padding: 5rem 0 2rem 0;
        background: url(../img/footer-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    footer.footer-area .social h5{
        font: normal 700 23px/30px var(--roboto);
        letter-spacing: 3px;

    }
    
    footer.footer-area .social a > i{
        font-size: 22px;
        margin: 2rem;
        padding: 0;
        color: rgb(214, 195, 224);
    }
    
    footer.footer-area .social a:hover > i{
        color: var(--primary-color2);
    }

    footer.footer-area .copyrights{
        margin-top: 3rem;

    }
    /* End Footer Area */
